<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackUpsInDateNetFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BackUpsInDateNetFramework.Properties.Settings>
            <setting name="PRTGcustSenseExtraFolder" serializeAs="String">
                <value>C:\SHARE\</value>
            </setting>
            <setting name="PRTGcustSenseExtraFile" serializeAs="String">
                <value>prtg_sensor_test.txt</value>
            </setting>
        </BackUpsInDateNetFramework.Properties.Settings>
    </userSettings>
</configuration>